body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 102px;
    border: 1px solid black;
}
main {

    border: 1px solid blueviolet;
    flex: 1;
}
footer {
    height: 102px;
    border: 1px solid green;
}